requests
pytest
pyautogui
fastapi
futures
pillow
google-generativeai
py-applescript
openai==1.55.0
ollama
google.ai.generativelanguage
click
pydantic
uvicorn
pyaml
pre-commit
black


urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
